@charset "UTF-8";

.box{
    width: 500px;
    height: 750px;
    background-color: rgb(244, 218, 124);
    margin: auto;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1200;
    font-size: 2em;
    margin-bottom: -5px;
}

#heading{
    padding-top: 40px;
}

.box{
    text-align: center;
}

.estd{
    border-bottom: 4px solid rgb(85, 53, 53);
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.coffeelogo{
    height: 15%;
    width: 15%;
}

.dessertlogo{
    height: 15%;
    width: 15%;
}

.things{
    text-align:left;
    padding-right: 300px;
}

table{
    margin-left: 20px;
    margin-right: 20px;
    
}

table,td{
    font-size: large;
    text-align: left;
}

.foot{
    margin-top: 50px;
    border-top: 4px solid rgb(85, 53, 53);
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.com109{
    margin-top: 10px;
    padding-top: -10px;
}